<ion-view title="Ranking">
    <ion-nav-bar>
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header ranking">
        <ion-spinner ng-hide="hideSpinner" class="spinner-energized espiner"></ion-spinner>
        <div class="no-content-message" ng-show="ranking.length == 0 && hideSpinner">
            <img src="img/sad.png"/><br/>
            <p>No one in the ranking</p>
        </div>
        <ion-list>
            <ion-item ng-repeat="rankingItem in ranking | orderBy: '-score'">
                {{rankingItem.nick}} - {{rankingItem.score}} points
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>