<ion-view title="" class="noPanel">
    <ion-content padding="true" scroll="false" class="has-header">
        <div class="spacer" style="width: 300px; height: 35px;"></div>
        <img src="img/wDSzhwzRrm1ZPL62rOWY_numberRace.jpg" width="100%" height="auto"
             style="width: 100%; height: auto;">

        <div class="spacer" style="width: 300px; height: 20px;"></div>
        <a href="#/options"
           class="button button-balanced icon ion-android-locate button-full"><span>Play!</span></a>
        <a href="#/tutorial"
           class="button button-royal icon ion-laptop button-full"><span>How to play</span></a>
        <a href="#/selectRanking"
           class="button button-energized icon ion-fireball button-full"><span>World ranking</span></a>
    </ion-content>
</ion-view>
