
body {
}

.platform-android .bar .title {
    text-align: center;
}

.icon span {
    margin-left: 20px;
}

.scroll-padding {
    height: 100%;
}

.no-content-message {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}

.no-content-message img {
    margin-bottom: 20px;
}

.noPanel {
}

/*RANKING*/
.espiner {
    position: absolute;
    left: 47%;
    margin-top: 50%;
}

/*RACE*/
.race {
    margin-top: 30px;
}
.moving-div {
    width: 100px;
    position: absolute;

    /* Add vendor prefixes as needed */
    transition: top 800ms linear, left 800ms linear;
}

/*LOADING*/
.loading {
    text-align: center;
    padding-top: 35%;
}

.loading h3 {
    margin-bottom: 20px;
}

.loading div {
    font-size: 15px;
}

/*RACE*/
.race {
    text-align: center;
}

.count {
    margin-top: 50%;
}

/*GAME OVER*/
.game-over {
    text-align: center;
    background: black;
    color: white;
}

.game-over-title {
    width: 100%;
    margin-top: 20%;
    margin-bottom: 20%;
}

.info-points {
    margin-bottom: 40%;
    font-size: 20px;
}

.buttons {
    position: relative;
    bottom: 0;
}

.game-over .button {
    width: 100%;
    margin-bottom: 10px;
}

.action-sheet-group {
    padding-bottom: 10px;
}

.platform-android .action-sheet .action-sheet-title {
    font-weight: bold;
    text-align: center;
}

.facebook-icon {
    color: #3A589B;
}

.twitter-icon {
    color: #2DAAE2;
}

.whatsapp-icon {
    color: #27A853;
}

/*POPUP GAME OVER*/
.error {
    color: red;
    text-align: center;
}

/*TUTORIAL*/
.tutorial {
    text-align: center;
}

.tutorial ol {
    text-align: justify;
    margin: auto;
    width: 65%;
    margin-top: 30px;
}